@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
}



.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 18px;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #fff;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff ;
}

.conteudo-principal-escrito-botao{
    background-color: black;
    width: 180px;
    height: 67px;
    border: none;
    box-shadow:4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: beige;
    transition: 0.3s ease;
}

.conteudo-principal-escrito-botao:hover{
    transform: scale(1.2);
}

.conteudo-principal-imagem{
    height: 430px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-botao{
    background-color: white;
    width: 180px;
    height: 67px;
    border: none;
    box-shadow:4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: black;
    transition: 0.3s ease;
}

.conteudo-secundario-botao:hover{
    transform: scale(1.2);
}

.conteudo-secundario-escrito-titulo{
    border-top: 0.4px solid #fff2e7;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #fff2e7;
    margin-bottom: 16px;
}

.conteudo-secundario-escrito-conteudo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #fff2e7;
    margin-bottom: 16px;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Righteous', cursive;
}

input[type=submit]{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Sarala', sans-serif;
}

input[type=submit]:hover{
    background-color: #45a049;
}

.container{
    font-family: 'Sarala', sans-serif;
    border-radius: 5px;
    padding: 20px;
    color: antiquewhite;
}

.contact{
    font-family: 'Righteous', cursive;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}
